/* https: //images.unsplash.com/photo-1569227965377-4de6e2c9c8a1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8YmVhdXRpZnVsJTIwc2NlbmFyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60;; */
/* #434a56 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: 70%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
}

.snake {
  width: 100%;
  height: 100%;
  background: blue;
}

.block {
  background: grey;
}
.food {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: grey;
}
.food::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: blue;
}
.extra {
  visibility: hidden;
  opacity: 0;
}

.lost {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.541);
  position: fixed;
}

.lost div {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: orangered;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lost button {
  padding: 0.4rem 1rem;
  background: blue;
  color: white;
  border: none;
  outline: none;
  align-self: center;
  cursor: pointer;
}
.lost h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
